.machine-form label {
    display: block; /* Forces each label and its contents onto a new line */
    margin-bottom: 15px; /* Adds space between form elements */
}

.machine-form select {
    width: auto; /* Optional: Makes dropdowns span the full width */
}

.machine-form button {
    display: block;
    margin-top: 15px;
}
